<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
      <header>
        <nav class="be-red white large-padding">
            <ul class="no-list row center-xs middle-xs">
              <li class="col-md">
              <h1 class="no-margin" id="logo">Blog</h1>
              </li>
              <li class="col-md">
                  <%= link_to "Inicio", root_path %>
              </li>
              <li class="col-md">
                Diseño
              </li>
              <li class="col-md">
                Programaciòn
              </li>
              <li class="col-md">
                  Tecnología
              </li>
            </ul>
        </nav>
      </header>

    <%= yield %>
  </body>
</html>
